[Unit]
Description=My Webapp Java REST Service
[Service]
User=minhnt
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/home/minhnt/workspace/java-app

#path to executable. 
#executable is a bash script which calls jar file
ExecStart=/home/minhnt/workspace/java-app/webservice

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target